//Container de Header
body{
    margin: 0;
}
#header{
    background-color:$fondo1;
}
.textoHeader{
    margin: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    display: inline-block;
    color:$texto1;
    font-size:4vw;
}  
.menu{
    display: none;
}
.logo{
    width: 7%;
    padding: 2.5%;
    background-color: $menu;
    float: right;
}
// Banner
#contBannerAzul{
    background-image: linear-gradient(to bottom right, $Adegradado1, $Adegradado2);
}
.bannerAzul{
    margin: 0;
    padding-bottom: 30%;
    max-width: 80%;
}
.h1{
    width: 81%;
    color: $blanco;
    font-size: 6vw;
    margin: 0;
    padding: 23% 6.8% 2% 7.5%;
}
.correo{
    text-decoration: none;
    color: $grayBox;
    padding-left: 7.5%;
    font-size: 4vw;
   float: left;
   ;
}
.flechas{
    display: inline;
    padding-left: 2%;
}
.flecha1{
    width: 4%;
    padding-right: 12%;
}
// Text Box
.bannerMorado{
    background-color: $RHfondo;
    color: $texto1;
    font-size: 3vw;
    padding: 2%;
    margin: 0%;
}
.pbannerMorado{
    margin: 0;
    padding: 6% 0 6% 3.5%;
    display: inline-block;
}
.flecha{
    padding: 8%;
    background-color: $pink;
    float: right;
    margin: -2%;
}
.flecha2{
    width: 10px;
}
// Imagenes
.flecha3{
    width: 100%;
}
.pngFlecha{
    padding: 39% 44% 39%  49%;
    width: 7%;
    background-color: $purpple;
    margin: 0;
}
.img2{
    width: 100%;
    margin: 0;
    margin-top: -4px;
}
// Final
#contGris{
    background-color:$grayBox;
}
.h2{
    color: $h2;
    font-size: 5vw;
    padding-top: 12%;
    margin: 0;
}
.texto2{
    color:$texto2;
    padding-bottom: 10%;
    margin: 0;
    font-size: 4vw;
}
.texto3{
    display: none;
}

.boxGris{
    margin-top: -4px;
    
}