@import 'config/funciones';
@import 'config/mixin';
@import 'config/variables';
*{
   margin: 0;
   padding: 0;
}

html{
    font-size: 16px;
}
p{
    font-family: $Montserrat;
}
.container{
    max-width: 96%;
    padding: 0 4% 0 4%;
}

ul{
    list-style: none;
}
a{
    color: $blanco;
    text-decoration: none;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}