* {
  margin: 0;
  padding: 0; }

html {
  font-size: 16px; }

p {
  font-family: "Montserrat", "sans-serif"; }

.container {
  max-width: 96%;
  padding: 0 4% 0 4%; }

ul {
  list-style: none; }

a {
  color: #ffffff;
  text-decoration: none; }

.clearfix::after {
  display: block;
  content: "";
  clear: both; }

body {
  margin: 0 auto; }

#header {
  background-color: #373c3f; }

.textoHeader {
  float: left;
  font-weight: normal;
  padding-top: 7px;
  font-size: 1.2rem;
  color: #ebebeb; }

.menu {
  display: none; }

.logo {
  width: 7%;
  padding: 2.5%;
  background-color: #202529;
  float: right; }

#contBannerAzul {
  background-image: linear-gradient(to bottom right, #19b4c6, #078aa4); }

.bannerAzul {
  margin: 0;
  padding-bottom: 30%;
  max-width: 80%; }

.h1 {
  width: 81%;
  color: #ffffff;
  font-size: 6vw;
  margin: 0;
  padding: 23% 6.8% 2% 7.5%;
  font-family: "Montserrat", "sans-serif"; }

.correo {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.9);
  padding-left: 7.5%;
  font-size: 4vw;
  float: left; }

.flechas {
  display: inline;
  padding-left: 3%; }

.flecha1 {
  width: 6%;
  padding-right: 12%; }

.bannerMorado {
  background-color: #27212c;
  color: #ebebeb;
  font-size: 3vw;
  padding: 4%;
  margin: 0%; }

.pbannerMorado {
  margin: 0;
  padding: 6% 0 6% 3.5%;
  display: inline-block; }

.flecha {
  padding: 10%;
  background-color: #bc3183;
  float: right;
  margin: -4%; }

.flecha2 {
  width: 10px;
  padding: 0px; }

.flecha3 {
  width: 100%; }

.pngFlecha {
  padding: 39% 44% 39%  49%;
  width: 7%;
  background-color: #5b0fa1;
  margin: 0; }

.img2 {
  width: 100%;
  margin: 0;
  margin-top: -4px; }

.contGris {
  background-color: rgba(255, 255, 255, 0.9); }
  .contGris .texto2 {
    display: none; }

.texto1, .texto2 {
  float: left;
  width: 100%; }

.boxGris {
  padding-left: 12%;
  padding-right: 12%; }
  .boxGris h2 {
    color: #088ca5;
    font-size: 1.1rem;
    padding: 35px 0 26px 0; }
  .boxGris p {
    color: #515151;
    padding-bottom: 37px;
    font-size: 0.9rem;
    font-family: "Montserrat", "sans-serif"; }

@media (min-width: 980px) {
  .menuHeader {
    background-color: #373c3f; }

  .textoHeader {
    display: none; }

  .menu {
    padding: 2%;
    margin: 0; }

  .menu li {
    display: inline; }

  .menu li + li {
    margin-left: 1%; }

  .menu a {
    color: #9282a0;
    font-size: 1.5vw;
    text-transform: uppercase;
    text-decoration: none; }

  .logo {
    display: none; }

  .logoMenu {
    display: none; }

  .bannerAzul {
    margin: 0;
    background-image: linear-gradient(to bottom right, #19b4c6, #078aa4);
    padding-bottom: 30%; }

  .h1 {
    width: 81%;
    color: #ffffff;
    font-size: 6vw;
    margin: 0;
    padding: 23% 6.8% 2% 7.5%; }

  .correo {
    text-decoration: none;
    color: #ffffff;
    padding-left: 7.5%;
    font-size: 4vw; }

  .flechas {
    display: inline;
    padding-left: 44%; }

  .flecha1 {
    width: 4%; }

  .bannerMorado {
    background-color: #27212c;
    color: #ebebeb;
    font-size: 3vw; }

  .pbannerMorado {
    margin: 0;
    padding: 6% 0 6% 3.5%;
    display: inline-block; }

  .flecha {
    padding: 4%;
    background-color: #bc3183;
    float: right; }

  .flecha2 {
    width: 10px; }

  .flecha3 {
    padding-bottom: 170%;
    width: 50%; }

  .pngFlecha {
    padding: 13% 11% 0%  15%;
    width: 7%;
    background-color: #5b0fa1;
    margin: 0;
    display: inline-block; }

  .foto {
    display: inline; }

  .img2 {
    width: 33%;
    margin: 0;
    display: inline; }

  .contGris {
    background-color: rgba(255, 255, 255, 0.9); }
    .contGris .texto2 {
      display: none; }

  .texto1, .texto2 {
    float: left;
    width: 44%; }

  .boxGris {
    padding-left: 12%;
    padding-right: 12%; }
    .boxGris h2 {
      color: #088ca5;
      font-size: 1.1rem;
      padding: 35px 0 26px 0; }
    .boxGris p {
      color: #515151;
      padding-bottom: 37px;
      font-size: 0.9rem; } }

/*# sourceMappingURL=style.css.map */
